# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/assets/Zoom_cm_ds_mt1w6rybfUA-YQtgN+JD9JbYyLdEYr6ZY3k7J@DQSmwtnTrvxt5Lv5_k2a3e22d6af648bc3_.exe
WheatherApp_Clone
